#canvasContainer {
    background-image: url(img/Muerte.png);
    background-repeat: no-repeat;  
    background-position: center;   
    width: 700px;                  
    height: 700px;
	cursor:pointer;
}
#ruleta{
    margin-top: 80px !important;
    width: 800px; 
    margin: 0 auto; 
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }